#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ContactList ul {
  list-style-type: none; 
  padding: 0;
}

.ContactList li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #000000;
}

.ContactList li:hover {
  background-color: #000000;
}


