/* styles-dark.css */

body {
  font-family: 'Roboto', Arial, sans-serif; /* Changed font family */
  background-color: #1a1a1a; 
  color: #e0e0e0; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #333; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #e0e0e0;
  font-size: 2rem;
  margin-bottom: 20px;
}

.NewProductForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.NewProductForm h2 {
  margin-bottom: 10px;
  color: #ccc;
  font-size: 1.5rem;
}

.NewProductForm input {
  padding: 12px;
  border: 1px solid #444; 
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333; 
  color: #e0e0e0; 
}

.NewProductForm button {
  padding: 12px;
  background-color: #8000ff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.NewProductForm button:hover {
  background-color: #45a049;
}


.ProductList h2 {
  color: #ccc;
  font-size: 1.5rem;
}

.ProductList ul {
  list-style-type: none;
  padding: 0;
}

.ProductList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 10px 0;
  background-color: #292929; 
  border: 1px solid #444; 
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.ProductList button {
  padding: 8px 12px;
  background-color: #8000ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ProductList button:hover {
  background-color: #431888;
}


@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  .ProductList li {
    flex-direction: column;
    align-items: flex-start;
  }

  .ProductList button {
    align-self: flex-center;
    margin-top: 10px;
  }
}
